.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 600px) {
  .topnav a,
  .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

.text-basic {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  background-color: rgb(239, 225, 199);
}

button.product-button {
  padding: 0 0 0 0;
  border: solid 3px black;
  background: none;
  margin-left: 24px;
  margin-right: 24px;
}

img.product-photo {
  width: 250px;
  height: 300px;
}

img.video-test {
  width: 865px;
  height: 300px;
}

.center {
  text-align: center;
}

p {
  padding-left: 300px;
  padding-right: 300px;
}
