.title {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-block-end: 0px;
}

.subtitle {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-block-start: 0px;
}

.text-basic {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


button.product-button {
    padding: 0;
    border:color(from color srgb 255 255 255);
    background: none;
    
}

img.product-photo {
    width: 250px;
    height: 250px;
}

.center {
    text-align: center;
}

p {
    padding-left: 300px;
    padding-right: 300px;
}